﻿<div id="aboutPageTitle">
    About / FAQ
</div>
<div class="aboutPagePanel">
    <div class="row">
        <div class="col-md-12">
            <div class="aboutTitle">
                What is this game?
            </div>
            <div class="gap"></div>
            <div class="aboutContent">
                <p>
                AvaNet is my personal project. It is inspired by memorable gaming experiences of my earlier childhood and the desire
                to recreate that nostalgia through my newfound passion for programming. I want to combine the addictive turn-based strategy 
                elements of "Advanced Wars", the gritty political and lore-rich universe of the original "StarCraft", and a sci-fi setting 
                that resembles "Megaman Battle Network"
                </p>
            </div>
        </div>
    </div>
</div>
<div class="aboutPagePanel">
    <div class="row">
        <div class="col-md-12">
            <div class="aboutTitle">
                Will it be free to play?
            </div>
            <div class="gap"></div>
            <div class="aboutContent">
                <p>
                    Current plans are to make the initial release free to play. May decide to make some aspects of the game,
                    such as cosmetics or non core gameplay elements, available upon purchase if the quality allows for it.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="aboutPagePanel">
    <div class="row">
        <div class="col-md-12">
            <div class="aboutTitle">
                Release date?
            </div>
            <div class="gap"></div>
            <div class="aboutContent">
                <p>
                    It is important to me, personally, that I create this game to a level of polish good enough to give my nostalgia
                    justice. I will try to do this to the best of my technical ability. I am imagining somewhere around 3-4 years in development
                    time. You can find out more about project-milestones and current game status in the forums
                </p>
            </div>
        </div>
    </div>
</div>
<div class="aboutPagePanel">
    <div class="row">
        <div class="col-md-12">
            <div class="aboutTitle">
                Technologies used?
            </div>
            <div class="gap"></div>
            <div class="aboutContent">
                <p>
                    <b>Game:</b> Created using Unity 3D Engine with C# for scripting. <br/>
                    <b>Website:</b> ASP.NET Core and Microsoft SQL Server for back-end
                </p>
            </div>
        </div>
    </div>
</div>
<div class="aboutPagePanel">
    <div class="row">
        <div class="col-md-12">
            <div class="aboutTitle">
                About Me
            </div>
            <div class="gap"></div>
            <div class="aboutContent">
                <p>
                    My name is Thomas, and I am currently a fourth-year software engineering student at the University of Auckland.
                    For any enquiries about this game, or any other business-related things please feel free to contact me at: <br/> 
                    <b>email:</b> khan465@aucklanduni.ac.nz
                    <br/>
                    <b>linkedin:</b> <a href="https://www.linkedin.com/in/thomas-han-015097101/">https://www.linkedin.com/in/thomas-han-015097101/</a>
                </p>
            </div>
        </div>
    </div>
</div>
