﻿@using AvaNet.Services
@model List<AvaNet.Models.GameLore>
@inject ResourcePathResolverService ResourcePathResolverService

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/gamescreenshots/Capture3.JPG" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Game-development screenshot. NetSEC headquaters entrance screenshot. 
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/gamescreenshots/Capture5.JPG" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Game-development screenshot. Dialog with a NetSEC Ava operator. 
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/gamescreenshots/Capture7.JPG" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Game-development screenshot. Demonstration of NetSEC headquarters interior
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/gamescreenshots/Capture4.JPG" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Game-development screenshot. Demonstration of multiplayer chat system
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="gapOne"></div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <a asp-action="Download">
                <div id="downloadPanel">
                    <div class="panelTitle">Play Now</div>
                    <div id="downloadPanelImage"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <a asp-action="About">
                <div id="gameGuidePanel">
                    <div class="panelTitle">About/FAQ</div>
                    <div id="gameGuidePanelImage"></div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="gapOne"></div>

<div class="row">
    <div id="gameLoresContent">
        <div class="col-md-12">
            <div id="gameLorePanelsTitle">AvaNet  Universe</div>
        </div>
        <div class="row">
            @foreach (GameLore gameLore in Model)
            {
                <div class="col-xs-offset-1 col-xs-10">
                    <a asp-action="Details" asp-controller="GameLores" asp-route-id="@gameLore.GameLoreID">
                        <div class="gameLorePanel">
                            <div class="gameLorePanelTitle">@gameLore.Title</div>
                            <img src="@Url.Content(gameLore.ImageURL)" style="" />
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

