﻿@model AvaNet.Models.ViewModels.ForumViewModels.ForumThreadsDetailsViewModel
@using AvaNet.Models.ViewModels.ForumViewModels
@using AvaNet.Services

@inject DateFormatter DateFormatter
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<form id="forumThreadUpvoteForm" asp-action="Create" asp-controller="ForumLikes">
    <div>
        <input type="hidden" name="Weight" value="1" />
        <input type="hidden" name="ForumThreadID" value="@Model.ForumThread.ForumThreadID" />
        <input type="hidden" name="StartIndex" value="@Model.StartIndex" />
        <input type="hidden" name="OrderBy" value="@Model.OrderBy" />
    </div>
</form>
<form id="forumThreadDownvoteForm" asp-action="Create" asp-controller="ForumLikes">
    <div>
        <input type="hidden" name="Weight" value="-1" />
        <input type="hidden" name="ForumThreadID" value="@Model.ForumThread.ForumThreadID" />
        <input type="hidden" name="StartIndex" value="@Model.StartIndex" />
        <input type="hidden" name="OrderBy" value="@Model.OrderBy" />
    </div>
</form>
<form id="forumThreadNeutralForm" asp-action="Create" asp-controller="ForumLikes">
    <div>
        <input type="hidden" name="Weight" value="0" />
        <input type="hidden" name="ForumThreadID" value="@Model.ForumThread.ForumThreadID" />
        <input type="hidden" name="StartIndex" value="@Model.StartIndex" />
        <input type="hidden" name="OrderBy" value="@Model.OrderBy" />
    </div>
</form>

<form id="forumCommentLikeForm" asp-action="Create" asp-controller="ForumLikes">
    <input id="forumCommentLikeWeight" type="hidden" name="Weight" />
    <input id="forumCommentLikeFormCommentID" type="hidden" name="ForumCommentID" />
    <input type="hidden" name="ForumThreadID" value="@Model.ForumThread.ForumThreadID" />
    <input type="hidden" name="StartIndex" value="@Model.StartIndex" />
    <input type="hidden" name="OrderBy" value="@Model.OrderBy" />
</form>

<div id="forumThreadDetailsDivider">
    <div class="gap"></div>
</div>

<div class="row">
    <div class="col-xs-offset-2 col-xs-3 col-sm-1 col-sm-offset-0">
        @{
            if (SignInManager.IsSignedIn(User))
            {
                bool voted = false;

                foreach (ForumLike like in Model.ForumThread.ForumLikes)
                {
                    if (like.Weight == 1 && like.ApplicationUser.UserName == User.Identity.Name)
                    {
                        <div id="forumThreadUpvote" class="voteActive">
                        </div>
                        <div id="forumThreadDownvote">
                        </div>
                        voted = true;
                    }
                    if (like.Weight == -1 && like.ApplicationUser.UserName == User.Identity.Name)
                    {
                        <div id="forumThreadUpvote">
                        </div>
                        <div id="forumThreadDownvote" class="voteActive">
                        </div>
                        voted = true;
                    }
                }

                if (!voted)
                {
                    <div id="forumThreadUpvote">
                    </div>
                    <div id="forumThreadDownvote">
                    </div>
                }
            }
            else
            {
                <div id="forumThreadUpvote">
                </div>
                <div id="forumThreadDownvote">
                </div>
            }
        }
    </div>
    <div class="col-xs-5 col-sm-2">
        <img id="forumThreadPanelAvatarImage" src="@Model.ForumThread.ApplicationUser.AvatarImageURL" />
    </div>
    <div class="col-xs-12 col-sm-9">
        <div id="forumThreadTitlePanel">
            <div id="forumThreadTitle">@Html.DisplayFor(modelItem => Model.ForumThread.Title)</div>
            <div class="forumThreadLabelPanel">
                <div class="forumThreadLabelTag">Posted By: </div>
                @if (UserManager.IsInRoleAsync(Model.ForumThread.ApplicationUser, "Administrator").Result || UserManager.IsInRoleAsync(Model.ForumThread.ApplicationUser, "Moderator").Result)
                {
                    <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.ForumThread.ApplicationUser.Id">
                        <div class="forumThreadLabel admin">
                            @Html.DisplayFor(modelItem => Model.ForumThread.ApplicationUser.GameUserID)
                        </div>
                    </a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.ForumThread.ApplicationUser.Id">
                        <div class="forumThreadLabel">
                            @Html.DisplayFor(modelItem => Model.ForumThread.ApplicationUser.GameUserID)
                        </div>
                    </a>
                }
                <div class="forumThreadLabelTag">Created: </div><div class="forumThreadLabel">@DateFormatter.GetTimeAgo(Model.ForumThread.ForumThreadCreationTime)</div>
                <div class="forumThreadLabelTag">Upvotes: </div><div class="forumThreadLabel">
                    @{
                        int positiveCount = 0;
                        int negativeCount = 0;
                        foreach (ForumLike forumLike in Model.ForumThread.ForumLikes)
                        {
                            if (forumLike.Weight > 0)
                            {
                                positiveCount++;
                            }
                            else if (forumLike.Weight < 0)
                            {
                                negativeCount++;
                            }
                        }
                    }
                    <p style="color:green; float:left;">@positiveCount</p><p style="color:red; float:left; padding-left:8px;">@negativeCount</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="forumThreadContent">
    @Html.Raw(Model.ForumThread.Content)
</div>

<div id="forumThreadDetailsDivider">
    <div class="gap"></div>
</div>

<div class="row">
    <div class="col-xs-2 col-sm-1"></div>
    <div class="col-xs-12 col-sm-4">
        <div id="forumCommentCreateButton">
            + Comment
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <a asp-action="Details" asp-route-id="@Model.ForumThread.ForumThreadID" asp-route-startIndex="0" asp-route-orderBy="newestComments">
            <div class="forumCommentOrderByOption">
                Newest Comments
            </div>
        </a>
        <a asp-action="Details" asp-route-id="@Model.ForumThread.ForumThreadID" asp-route-startIndex="0" asp-route-orderBy="oldestComments">
            <div class="forumCommentOrderByOption">
                Oldest Comments
            </div>
        </a>
    </div>
    <div class="col-xs-2 col-sm-1"></div>
</div>

<hr />

<form class="form-group" id="forumCommentForm" asp-action="Create" asp-controller="ForumComments">
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumCommentFormContentLabel">Comment Content:</div>
        </div>
        <div class="form-group col-md-8">
            <textarea id="forumCommentFormContentInput" name="Content" class="form-control" maxlength="1500"></textarea>
        </div>
    </div>
    <input type="hidden" name="ForumThreadID" value="@Model.ForumThread.ForumThreadID">
    <div class="row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-3">
            <input id="forumCommentFormSubmit" type="submit" value="Submit Comment" />
        </div>
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-3">
            <div id="forumCommentCloseButton">Close</div>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
</form>

<div>
    @for (int i = 0; i < Model.ForumThread.ForumComments.Count; i++)
    {
        ApplicationUser currentUser = UserManager.GetUserAsync(User).Result;
        ForumComment comment = Model.ForumThread.ForumComments.ElementAt(i);
        <div class="forumCommentPanel">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-3 col-sm-offset-0 col-sm-1 col-md-1">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            bool voted = false;

                            foreach (ForumLike like in comment.ForumLikes)
                            {
                                if (like.Weight == 1 && like.ApplicationUser.UserName == User.Identity.Name)
                                {
                                    <div class="@comment.ForumCommentID forumCommentUpvote voteActive">
                                    </div>
                                    <div class="@comment.ForumCommentID forumCommentDownvote">
                                    </div>
                                    voted = true;
                                }
                                if (like.Weight == -1 && like.ApplicationUser.UserName == User.Identity.Name)
                                {
                                    <div class="@comment.ForumCommentID forumCommentUpvote">
                                    </div>
                                    <div class="@comment.ForumCommentID forumCommentDownvote voteActive">
                                    </div>
                                    voted = true;
                                }
                            }

                            if (!voted)
                            {
                                <div class="@comment.ForumCommentID forumCommentUpvote">
                                </div>
                                <div class="@comment.ForumCommentID forumCommentDownvote">
                                </div>
                            }
                        }
                        else
                        {
                            <div class="@comment.ForumCommentID forumCommentUpvote">
                            </div>
                            <div class="@comment.ForumCommentID forumCommentDownvote">
                            </div>
                        }
                    }
                </div>
                <div class="col-xs-5 col-sm-2 col-md-2">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (User.Identity.Name.Equals(comment.ApplicationUser.UserName))
                        {
                            if (!comment.IsDeleted && !comment.IsBanned)
                            {
                                <a asp-action="Delete" asp-controller="ForumComments" asp-route-id="@comment.ForumCommentID" asp-route-forumThreadID="@Model.ForumThread.ForumThreadID">[Delete Comment]</a>
                            }
                        }
                        if (UserManager.IsInRoleAsync(currentUser, "Administrator").Result || UserManager.IsInRoleAsync(currentUser, "Moderator").Result)
                        {
                            if (!comment.IsDeleted && !comment.IsBanned)
                            {
                                <a asp-action="Ban" asp-controller="ForumComments" asp-route-id="@comment.ForumCommentID" asp-route-forumThreadID="@Model.ForumThread.ForumThreadID">[Ban Comment]</a>
                            }
                        }
                    }
                    <img class="forumCommentPanelAvatarImage" src="@comment.ApplicationUser.AvatarImageURL" />
                    <div class="forumCommentPanelInformation">
                        @if (UserManager.IsInRoleAsync(comment.ApplicationUser, "Administrator").Result || UserManager.IsInRoleAsync(comment.ApplicationUser, "Moderator").Result)
                        {
                            <a asp-controller="Account" asp-action="Profile" asp-route-id="@comment.ApplicationUser.Id">
                                <div style="color:rgb(61, 255, 74)">
                                    @Html.DisplayFor(modelItem => comment.ApplicationUser.GameUserID)
                                </div>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Profile" asp-route-id="@comment.ApplicationUser.Id">
                                <div>
                                    @Html.DisplayFor(modelItem => comment.ApplicationUser.GameUserID)
                                </div>
                            </a>
                        }
                        <div>@DateFormatter.GetTimeAgo(comment.ForumCommentCreationTime)</div>
                        <div>
                            @{
                                int commentPositiveCount = 0;
                                int commentNegativeCount = 0;
                                foreach (ForumLike forumLike in comment.ForumLikes)
                                {
                                    if (forumLike.Weight > 0)
                                    {
                                        commentPositiveCount++;
                                    }
                                    else if (forumLike.Weight < 0)
                                    {
                                        commentNegativeCount++;
                                    }
                                }
                            }
                            <div style="color:green; float:left;">@commentPositiveCount</div><div style="color:red; float:left; padding-left:8px;">@commentNegativeCount</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="forumCommentContentPanel">
                        @if(comment.IsBanned)
                        {
                            <p>|This comment has been banned by the moderators|</p>
                        }
                        @if (comment.IsDeleted)
                        {
                            <p>|This comment has been deleted by the user|</p>
                        }
                        @if(!comment.IsBanned && !comment.IsDeleted)
                        {
                            @Html.DisplayFor(modelItem => comment.Content)
                        }
                    </div>
                </div>
            </div>
            <hr />
        </div>

        }
</div>

<div id="forumThreadsNavigationDivider">
    <div class="gap"></div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="forumThreadsNavigationPanel">
            <a asp-action="NavigateComments" asp-controller="ForumThreads" asp-route-id="@Model.ForumThread.ForumThreadID" asp-route-orderBy="@Model.OrderBy" asp-route-startIndex="@Model.GetPreviousStartIndex()">
                <div id="forumThreadsNavigationLeft" class="forumThreadsNavigation"></div>
            </a>
            <a asp-action="NavigateComments" asp-controller="ForumThreads" asp-route-id="@Model.ForumThread.ForumThreadID" asp-route-orderBy="@Model.OrderBy" asp-route-startIndex="@Model.GetNextStartIndex()">
                <div id="forumThreadsNavigationRight" class="forumThreadsNavigation"></div>
            </a>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#forumCommentCreateButton").click(function () {
        $("#forumCommentForm").slideDown();
    });
    $("#forumCommentCloseButton").click(function () {
        $("#forumCommentForm").slideUp();
    });

    $("#forumThreadUpvote").click(function () {
        if ($("#forumThreadUpvote").hasClass("voteActive")) {
            $("#forumThreadNeutralForm").submit();
        }
        else {
            $("#forumThreadUpvoteForm").submit();
        }
    });
    $("#forumThreadDownvote").click(function () {
        if ($("#forumThreadDownvote").hasClass("voteActive")) {
            $("#forumThreadNeutralForm").submit();
        }
        else {
            $("#forumThreadDownvoteForm").submit();
        }
    });

    $(".forumCommentUpvote").click(function () {
        if ($(this).hasClass("voteActive")) {
            $("#forumCommentLikeForm #forumCommentLikeFormCommentID").val($(this).attr('class').split(' ')[0])
            $("#forumCommentLikeForm #forumCommentLikeWeight").val('0')
            $("#forumCommentLikeForm").submit();
        }
        else {
            $("#forumCommentLikeForm #forumCommentLikeFormCommentID").val($(this).attr('class').split(' ')[0])
            $("#forumCommentLikeForm #forumCommentLikeWeight").val('1')
            $("#forumCommentLikeForm").submit();
        }
    });
    $(".forumCommentDownvote").click(function () {
        if ($(this).hasClass("voteActive")) {
            $("#forumCommentLikeForm #forumCommentLikeFormCommentID").val($(this).attr('class').split(' ')[0])
            $("#forumCommentLikeForm #forumCommentLikeWeight").val('0')
            $("#forumCommentLikeForm").submit();
        }
        else {
            $("#forumCommentLikeForm #forumCommentLikeFormCommentID").val($(this).attr('class').split(' ')[0])
            $("#forumCommentLikeForm #forumCommentLikeWeight").val('-1')
            $("#forumCommentLikeForm").submit();
        }
    });
</script>