﻿@model AvaNet.Models.ViewModels.ForumViewModels.ForumThreadsIndexViewModel
@using Microsoft.AspNetCore.Identity
@using AvaNet.Services

@inject DateFormatter DateFormatter
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="col-md-6">
        <div id="forumTopicTitle2">@Model.ForumTopicTitle</div>
    </div>
    <div class="col-md-4">
        <div class="forumThreadOrderByPanel">
            <div class="gap"></div>
            <a asp-action="Index" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="mostLikes">
                <div class="forumThreadOrderByOption">
                    Most Likes
                </div>
            </a>
            <a asp-action="Index" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="mostComments">
                <div class="forumThreadOrderByOption">
                    Most Comments
                </div>
            </a>
            <a asp-action="Index" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="newest">
                <div class="forumThreadOrderByOption">
                    Newest
                </div>
            </a>
        </div>
    </div>
    @if (Model.ForumTopicTitle.Equals("Game News and Updates"))
    {
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {
                <div class="col-md-2">
                    <div id="forumThreadCreateButton">+ New Thread</div>
                </div>
            }
        }
    }
    else
    {
        <div class="col-md-2">
            <div id="forumThreadCreateButton">+ New Thread</div>
        </div>
    }
</div>
<div class="gapFour"></div>

<form class="form-group" id="forumThreadForm" asp-action="Create" asp-controller="ForumThreads">
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumThreadFormTitleLabel">Thread Title:</div>
        </div>
        <div class="form-group col-md-8">
            <input name="Title" class="form-control" maxlength="60" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <div id="forumThreadFormContentLabel">Thread Content:</div>
        </div>
        <div class="form-group col-md-8">
            <textarea id="forumThreadFormContentInput" maxlength="1800" name="Content" class="form-control"></textarea>
        </div>
    </div>
    <input type="hidden" name="ForumTopicID" value="@Model.ForumTopicID">
    <div class="row">
        <div class="form-group col-md-3"></div>
        <div class="form-group col-md-3">
            <input id="forumThreadFormSubmit" type="submit" value="Submit Thread" />
        </div>
        <div class="form-group col-md-1"></div>
        <div class="form-group col-md-3">
            <div id="forumThreadCloseButton">Close</div>
        </div>
        <div class="form-group col-md-2"></div>
    </div>
</form>

<hr />

@foreach (ForumThread pinnedForumThread in Model.PinnedForumThreads.ForumThreads)
{
    int likeCount = 0;

    foreach (ForumLike fl in pinnedForumThread.ForumLikes)
    {
        likeCount += fl.Weight;
    }

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Details" asp-route-id="@pinnedForumThread.ForumThreadID" asp-controller="ForumThreads">
                <div class="forumThreadPanel admin">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="forumThreadPanelTitle">@Html.DisplayFor(modelItem => pinnedForumThread.Title)</div>
                        </div>
                        <div class="col-sm-3">
                            @if (UserManager.IsInRoleAsync(pinnedForumThread.ApplicationUser, "Administrator").Result || UserManager.IsInRoleAsync(pinnedForumThread.ApplicationUser, "Moderator").Result)
                            {
                                <div class="forumThreadPanelLabel admin">
                                    Posted by: @Html.DisplayFor(modelItem => pinnedForumThread.ApplicationUser.GameUserID)
                                </div>
                            }
                            else
                            {
                                <div class="forumThreadPanelLabel">
                                    Posted by: @Html.DisplayFor(modelItem => pinnedForumThread.ApplicationUser.GameUserID)
                                </div>
                            }
                        </div>
                        <div class="col-sm-2">
                            <div class="forumThreadPanelLabel">
                                @DateFormatter.GetTimeAgo(pinnedForumThread.ForumThreadCreationTime)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-4 col-md-2">
                            <div class="forumThreadPanelLikeImage"></div>
                            <div class="forumThreadPanelLikeLabel">@likeCount</div>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-2">
                            <div class="forumThreadPanelCommentsImage"></div>
                            <div class="forumThreadPanelCommentsLabel">@pinnedForumThread.ForumComments.Count</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<div id="forumThreadsNavigationDivider">
    <div class="gap"></div>
    <div class="gap"></div>
</div>

@foreach (ForumThread item in Model.ForumThreads)
{
    ApplicationUser currentUser = UserManager.GetUserAsync(User).Result;
    int likeCount = 0;

    foreach (ForumLike fl in item.ForumLikes)
    {
        likeCount += fl.Weight;
    }

    <div class="row">
        <div class="col-md-12">
            <a asp-action="Details" asp-route-id="@item.ForumThreadID" asp-controller="ForumThreads">
                <div class="forumThreadPanel">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="forumThreadPanelTitle">@Html.DisplayFor(modelItem => item.Title)</div>
                        </div>
                        <div class="col-sm-3">
                            @if (UserManager.IsInRoleAsync(item.ApplicationUser, "Administrator").Result || UserManager.IsInRoleAsync(item.ApplicationUser, "Moderator").Result)
                            {
                                <div class="forumThreadPanelLabel admin">
                                    Posted by: @Html.DisplayFor(modelItem => item.ApplicationUser.GameUserID)
                                </div>
                            }
                            else
                            {
                                <div class="forumThreadPanelLabel">
                                    Posted by: @Html.DisplayFor(modelItem => item.ApplicationUser.GameUserID)
                                </div>
                            }
                        </div>
                        <div class="col-sm-2">
                            <div class="forumThreadPanelLabel">
                                @DateFormatter.GetTimeAgo(item.ForumThreadCreationTime)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-sm-4 col-md-2">
                            <div class="forumThreadPanelLikeImage"></div>
                            <div class="forumThreadPanelLikeLabel">@likeCount</div>
                        </div>
                        <div class="col-xs-5 col-sm-4 col-md-2">
                            <div class="forumThreadPanelCommentsImage"></div>
                            <div class="forumThreadPanelCommentsLabel">@item.ForumComments.Count</div>
                        </div>
                    </div>
                </div>
            </a>
            @if (SignInManager.IsSignedIn(User))
            {
                if (UserManager.IsInRoleAsync(currentUser, "Administrator").Result || UserManager.IsInRoleAsync(currentUser, "Moderator").Result)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <a asp-action="Ban" asp-controller="ForumThreads" asp-route-id="@item.ForumThreadID">Ban Thread</a>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Remove" asp-controller="ForumThreads" asp-route-id="@item.ForumThreadID">Delete Thread</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

<div id="forumThreadsNavigationDivider">
    <div class="gap"></div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="forumThreadsNavigationPanel">
            <a asp-action="NavigateThreads" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="@Model.OrderBy" asp-route-startIndex="@Model.GetPreviousStartIndex()">
                <div id="forumThreadsNavigationLeft" class="forumThreadsNavigation"></div>
            </a>
            <a asp-action="NavigateThreads" asp-controller="ForumThreads" asp-route-id="@Model.ForumTopicID" asp-route-orderBy="@Model.OrderBy" asp-route-startIndex="@Model.GetNextStartIndex()">
                <div id="forumThreadsNavigationRight" class="forumThreadsNavigation"></div>
            </a>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $("#forumThreadCreateButton").click(function () {
        $("#forumThreadForm").slideDown();
    });
    $("#forumThreadCloseButton").click(function () {
        $("#forumThreadForm").slideUp();
    });
</script>