﻿@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.carousel-caption 
{
    background-color: rgba(0, 0, 0, 0.7);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.myFooter 
{
    width: 90%;
    margin-left: 5%;
    position: absolute;
    bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
}

body 
{
    padding-bottom: 200px;
    min-height: 1100px;
    position: relative;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

body:before 
{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/background-image.png");
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.navbar.navbar-inverse .navbar-brand 
{
    color: rgba(255, 195, 102, 0.9);
}

.navbar.navbar-inverse  .navbar-brand:hover
{
    color: rgba(255, 227, 222, 1);
}

.navbar.navbar-inverse 
{
    font-size: medium;
    background-color: rgba(0,0,0,0.9);
    background-size: 150%;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(206, 255, 251, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(206, 255, 251, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(206, 255, 251, 0.75);
}

.navbar.navbar-inverse li a 
{
    color: rgba(66, 244, 224, 1);
}

#myCarousel 
{
    -webkit-box-shadow: 0px 2px 1px 1px rgba(206, 255, 251, 0.85);
    -moz-box-shadow: 0px 2px 1px 1px rgba(206, 255, 251, 0.85);
    box-shadow: 0px 2px 1px 1px rgba(206, 255, 251, 0.85);
}

#myCarousel, #myCarousel .item, #myCarousel .item img
{
    max-width: 100%;
    min-width: 100%;
    min-height: 560px;
    max-height: 560px;
}

@keyframes downloadPanelImageAnimation 
{
    0% {opacity:0.2}
    100% {opacity:0.75}
}

@keyframes downloadPanelTitleAnimation 
{
    0% 
    {
        color: rgba(219, 252, 250, 0.6);
        background-color: rgba(0, 0, 0, 0.7);
    }
    100% 
    {
        color: rgba(219, 252, 250, 1);
        background-color: rgba(0, 0, 0, 0.85);
    }
}

@keyframes downloadPanelAnimation 
{
    0% {
       -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
        -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
        box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4); 
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    }
}

#downloadPanel 
{
    max-height: 350px;
    min-height: 350px;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
}

#downloadPanel:hover
{
    animation-name: downloadPanelAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#downloadPanel:hover #downloadPanelImage
{
    animation-name: downloadPanelImageAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#downloadPanel:hover .panelTitle
{
    animation-name: downloadPanelTitleAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#downloadPanelImage
{
    width: 100%;
    height: 250px;
    opacity : 0.2;
    background-image: url("../images/gamescreenshots/Capture.JPG");
    background-size: cover;
}

#gameGuidePanel 
{
    max-height: 350px;
    min-height: 350px;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.4);
}

#gameGuidePanelImage
{
    width: 100%;
    height: 250px;
    opacity : 0.2;
    background-image: url("../images/gamescreenshots/Capture3.JPG");
    background-size: cover;
}

#gameGuidePanel:hover
{
    animation-name: downloadPanelAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#gameGuidePanel:hover #gameGuidePanelImage
{
    animation-name: downloadPanelImageAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#gameGuidePanel:hover .panelTitle
{
    animation-name: downloadPanelTitleAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.panelTitle 
{
    font-size: xx-large;
    font-weight: 700;
    color: rgba(219, 252, 250, 0.65);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

    padding-top: 35px;
    padding-bottom: 20px;

    -webkit-box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.75);
}

.gapOne 
{
    max-height: 100px;
    min-height: 100px;
}

.gapTwo 
{
    max-height: 300px;
    min-height: 300px;
}

.gapFour 
{
    max-height: 50px;
    min-height: 50px;
}

#aboutPanel 
{
    max-height: 530px;
    min-height: 530px;
}

#aboutPanel:before
{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
    background-image: url("../images/gamescreenshots/Capture2.JPG");
    background-size: cover;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
}

#gameLorePanelsTitle 
{
    background-color: rgba(0, 0, 0, 0.85);
    font-size: xx-large;
    font-weight: bold;

    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 30px;
}

.gameLorePanelTitle
{
    min-height: 70px;
    font-size: xx-large;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 30px;
}

@keyframes gameLorePanelAnimation
{
    0%   {opacity:0.2}
    100% {opacity:0.8}
}

@keyframes gameLorePanelTitleAnimation 
{
    0%   {color: rgba(255, 255, 255, 0.6)}
    100% {color: rgba(255, 255, 255, 1)}
}

#gameLoresContent 
{
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-box-shadow: 0px 0px 0px 2px rgba(206, 255, 251, 0.8);
    -moz-box-shadow: 0px 0px 0px 2px rgba(206, 255, 251, 0.8);
    box-shadow: 0px 0px 0px 2px rgba(206, 255, 251, 0.8);
}

.gameLorePanel 
{
    height:450px;

    -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.gameLorePanel:hover img
{
    animation-name: gameLorePanelAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.gameLorePanel:hover .gameLorePanelTitle
{
    animation-name: gameLorePanelTitleAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.gameLorePanel img
{
    width: 100%;
    height:80%;
    opacity: 0.2;
}

/*
    CSS styling for forum topics pages
*/
.gapThree 
{
    height: 40px;
}

#forumTopicsJumbotron 
{
    width: 100%;
    height: 300px;

    -webkit-box-shadow: 0px 0px 0px 1px rgba(206, 255, 251,0.95);
    -moz-box-shadow: 0px 0px 0px 1px rgba(206, 255, 251,0.95);
    box-shadow: 0px 0px 0px 1px rgba(206, 255, 251,0.95);
}

#forumTopicsJumbotronGap 
{
    height: 150px;
}

#forumTopicsTitle 
{
    font-size: xx-large;
    color: rgba(250, 252, 250, 1);
    text-align: center;

    padding-top: 35px;
    padding-bottom: 20px;
}

.forumTopicPanel 
{
    width: 75%;
    margin-left: 5%;
}

.forumTopicTitle 
{
    width: 60%;
    font-size: x-large;
    padding-top: 15px;

    color: rgba(150, 253, 255, 0.85);
    background-color: rgba(0, 140, 142, 0.1);

    -webkit-box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0px -2px 1px 1px rgba(255, 255, 255, 0.75);
}

.forumTopicDescription 
{
    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
    
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);

    font-size: larger;
    padding: 10px 10px 40px 20px;
}

#forumTopicsWrapper 
{
    padding-top: 5px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    -webkit-box-shadow: 0px 0px 1px 1px rgba(68, 255, 233, 0.85);
    -moz-box-shadow: 0px 0px 1px 1px rgba(68, 255, 233, 0.85);
    box-shadow: 0px 0px 1px 1px rgba(68, 255, 233, 0.85);
}

.forumTopicTitle:hover
{
    animation-name: forumTopicTitleAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes forumTopicTitleAnimation 
{
    0% {
        color: rgba(150, 253, 255, 0.85);
        background-color: rgba(0, 140, 142, 0.1);

       -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.75);
    }
    100% {
       color: rgba(220, 253, 255, 1);
       background-color: rgba(0, 140, 142, 0.3);

       -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 1);
       -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 1);
       box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 1);
    }
}

/*
    CSS styling for a forum topic page
*/
#forumTopicTitle2 
{
    text-align: center;
    color: rgba(220, 253, 255, 1);

    font-size: xx-large;
    font-weight: bold;

    padding: 30px 10px 10px 10px;
}

#forumThreadCreateButton 
{
    text-align: center;
    margin-top: 30px;
    font-weight: 800;
    font-size: larger;

    color: rgba(255,255,255,0.9);
    background-color: rgba(15, 151, 255, 0.9);
    padding: 15px 15px 15px 15px;
}

#forumThreadCreateButton:hover 
{
    color: rgba(206, 255, 251, 1);
    background-color: rgba(15, 151, 255, 0.6);
    cursor: pointer;
}

#forumThreadForm 
{
    display: none;
}

#forumThreadForm input,textarea
{
    min-width: 100%;
}

#forumThreadFormContentInput 
{
    height: 200px;
}

#forumThreadFormSubmit,#forumThreadCloseButton
{
    text-align: center;
    line-height: 60px;
    height: 60px;

    font-size: medium;
    color: rgba(255,255,255,0.7);
}

#forumThreadFormSubmit 
{
    background-color: rgba(3, 211, 0, 0.7);
}

#forumThreadCloseButton 
{
    background-color: rgba(210, 31, 0, 0.7);
}

#forumThreadFormSubmit:hover
{
    background-color: rgba(3, 211, 0, 0.5);
}

#forumThreadCloseButton:hover 
{
    cursor: pointer;
    background-color: rgba(210, 31, 0, 0.5);
}

/*
    CSS Styling for forum topic page
*/
.forumThreadPanel 
{
    min-height: 150px;
    background-color: rgba(0,0,0,0.85);

    -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.55);
    -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.55);
     box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.55);
}

.forumThreadPanel.admin
{
    height: 150px;
    background-color: rgba(0, 140, 142, 0.15);

    -webkit-box-shadow: 0px 0px 1px 2px rgba(178, 255, 241, 0.8);
    -moz-box-shadow: 0px 0px 1px 2px rgba(178, 255, 241, 0.8);
     box-shadow: 0px 0px 1px 2px rgba(178, 255, 241, 0.8);
}

.forumThreadPanel:hover 
{
    animation-name: forumThreadPanelAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes forumThreadPanelAnimation 
{
    0% 
    {
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.55);
        -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.55);
         box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.55);
    }
    100% 
    {
        background-color: rgba(160, 255, 250, 0.2);
        -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.85);
        -moz-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.85);
         box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.85);
    }
}

.forumThreadPanel .gap 
{
    height: 25px;
}

.forumThreadPanelTitle 
{
    word-break: break-all;
    padding-left: 5%;
    font-size: 1.1em;
    color: rgba(255, 255, 235, 0.9);

    -webkit-box-shadow: 0px 0px 1px 1px rgba(178, 255, 241, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(178, 255, 241, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(178, 255, 241, 0.8);
}

.forumThreadPanelLabel 
{
    font-size: 0.9em;
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.85);
}

.forumThreadPanelLabel.admin
{
    color: rgb(61, 255, 74);
}

.forumThreadPanelLikeImage 
{
    float: left;
    width: 40%;
    height: 60px;

    background-image: url("../images/symbols/thumbsUp.png");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.forumThreadPanelLikeLabel 
{
    float: left;
    width: 15%;
    line-height: 60px;
    height: 60px;
    color: rgba(255, 255, 255, 0.7);
}

.forumThreadPanelCommentsImage 
{
    float: left;
    width: 40%;
    height: 60px;

    background-image: url("../images/symbols/comments.png");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.forumThreadPanelCommentsLabel 
{
    float: left;
    width: 15%;
    line-height: 60px;
    height: 60px;
    color: rgba(255, 255, 255, 0.7);
}

.forumThreadOrderByPanel .gap
{
    height: 40px;
}

.forumThreadOrderByOption 
{
    float: left;
    width: 33%;
    height: 30px;
    line-height: 30px;
    
    font-size: 0.6em;
    text-align: center;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 244, 224, 0.5);

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.forumThreadOrderByOption:hover 
{
    animation-name: forumThreadOrderByOptionAnimation;  
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
}

.forumThreadsNavigation
{
    float: left;
    height: 50px;
    width: 50%;

    background-color: rgba(0, 0, 0, 0.9);

    -webkit-box-shadow: 0px 0px 1px 1px rgba(178, 255, 241, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(178, 255, 241, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(178, 255, 241, 0.8);
}

.forumThreadsNavigation:hover 
{
    animation-name: forumThreadsNavigationAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#forumThreadsNavigationLeft 
{
    background-image: url(../images/symbols/leftArrow.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
} 

#forumThreadsNavigationRight
{
    background-image: url(../images/symbols/rightArrow.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
} 

#forumThreadsNavigationDivider .gap 
{
    height: 60px;
}

@keyframes forumThreadsNavigationAnimation 
{
    0% 
    {
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0.7;
    }
    100% 
    {
        background-color: rgba(66, 244, 224, 0.5);
        opacity: 0.9;
    }
}

@keyframes forumThreadOrderByOptionAnimation 
{
    0% 
    {
        color: rgba(255, 255, 255, 0.7);
        background-color: rgba(66, 244, 224, 0.5);
    }
    100% 
    {
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(66, 244, 224, 0.3);
    }
}

/*Styling for forum therads details page*/
#forumThreadUpvote 
{
    background-image: url("../images/symbols/upArrow.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    width: 80%;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}

#forumThreadDownvote
{
    background-image: url("../images/symbols/downArrow.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100px;
    width: 80%;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}

#forumThreadUpvote.voteActive 
{
    background-color: rgba(255, 255, 255, 0.9);
}

#forumThreadDownvote.voteActive 
{
    background-color: rgba(255, 255, 255, 0.9);
}

#forumThreadDownvote:hover 
{
    cursor: pointer;

    animation-duration: 0.5s;
    animation-name: forumThreadVoteAnimation;
    animation-fill-mode: forwards;
}

#forumThreadUpvote:hover 
{
    cursor: pointer;

    animation-duration: 0.5s;
    animation-name: forumThreadVoteAnimation;
    animation-fill-mode: forwards;
}

#forumThreadDetailsDivider .gap 
{
    height: 40px;
}

#forumThreadPanelAvatarImage 
{
    width: 100%;
    height: 200px;
}

#forumThreadTitlePanel
{
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
}

#forumThreadTitle 
{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: pre-wrap;      /* current browsers */

    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px 10px 10px 20px;
}

.forumThreadLabelTag
{
    color: rgba(255, 255, 255, 0.4);
    float: left;
    margin-right: 1%;
}

.forumThreadLabel 
{
    font-size: 1em;
    color: rgba(206, 255, 251,0.8);
}

.forumThreadLabel.admin
{
    color: rgb(61, 255, 74);
}

.forumThreadLabelPanel
{
    padding-top: 20px;
    padding-left: 3%;
}

#forumThreadContent 
{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: pre-wrap;      /* current browsers */

    padding: 20px 20px 20px 20px;
    width: 90%;
    margin-left: 5%;
    font-size: 1.1em;

    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.6);

    -webkit-box-shadow: 0px 1px 1px 0.2px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0px 1px 1px 0.2px rgba(255, 255, 255, 0.8);
     box-shadow: 0px 1px 1px 0.2px rgba(255, 255, 255, 0.8);
}

#forumThreadContent h2,h3 
{
    color: rgba(255, 255, 255, 0.85);
}

#forumCommentCreateButton 
{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(15, 151, 255, 0.55);
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#forumCommentCreateButton:hover 
{
    animation-name: forumCommentCreateButtonAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.forumCommentOrderByOption 
{
    float: left;
    width: 50%;
    min-height: 40px;
    line-height: 40px;
    text-align: center;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.3);

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.forumCommentOrderByOption:hover 
{
    animation-name: forumCommentOrderByOptionAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#forumCommentForm 
{
    display: none;
}

#forumCommentForm input,textarea
{
    min-width: 100%;
}

#forumCommentFormContentInput 
{
    height: 200px;
}

#forumCommentFormSubmit,#forumCommentCloseButton
{
    text-align: center;
    line-height: 60px;
    height: 60px;

    font-size: medium;
    color: rgba(255,255,255,0.7);
}

#forumCommentFormSubmit 
{
    background-color: rgba(3, 211, 0, 0.7);
}

#forumCommentCloseButton 
{
    background-color: rgba(210, 31, 0, 0.7);
}

#forumCommentFormSubmit:hover
{
    background-color: rgba(3, 211, 0, 0.5);
}

#forumCommentCloseButton:hover 
{
    cursor: pointer;
    background-color: rgba(210, 31, 0, 0.5);
}

.forumCommentUpvote
{
    background-image: url("../images/symbols/upArrow.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 45, 45, 0.6);
    height: 80px;
    margin-top: 30px; 
    width: 80%;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.forumCommentDownvote
{
    background-image: url("../images/symbols/downArrow.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 45, 45, 0.6);
    height: 80px;
    width: 80%;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
     box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.forumCommentUpvote.voteActive 
{
    background-color: rgba(66, 244, 224, 0.7);
}

.forumCommentDownvote.voteActive 
{
    background-color: rgba(66, 244, 224, 0.7);
}

.forumCommentDownvote:hover 
{
    cursor: pointer;

    animation-duration: 0.5s;
    animation-name: forumCommentVoteAnimation;
    animation-fill-mode: forwards;
}

.forumCommentUpvote:hover 
{
    cursor: pointer;

    animation-duration: 0.5s;
    animation-name: forumCommentVoteAnimation;
    animation-fill-mode: forwards;
}

.forumCommentPanelAvatarImage 
{
    width: 80%;
    margin-left: 10%;
    height: 140px;
}

.forumCommentPanelInformation 
{
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 10px 10px 10px;
}

.forumCommentContentPanel 
{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: pre-wrap;      /* current browsers */

    border-left: thin solid rgba(255, 255, 255, 0.4);
    padding: 10px 10px 10px 30px;
    min-height: 150px;
    margin-top: 30px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.forumCommentContentPanel a:hover 
{
    cursor: pointer;
}

.forumCommentPanel 
{
    background-color: rgba(0, 60, 60, 0.3);
}

.forumCommentPanel hr 
{
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes forumCommentCreateButtonAnimation 
{
    0% {
        background-color: rgba(15, 151, 255, 0.55);
    }
    100% {
        background-color: rgba(15, 151, 255, 0.8);
    }
}

@keyframes forumCommentOrderByOptionAnimation 
{
    0% {
        background-color: rgba(255, 255, 255, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes forumCommentVoteAnimation 
{
    0% {
        background-color: rgba(66, 244, 224, 0.3);
    }
    100% {
        background-color: rgba(66, 244, 224, 0.7);
    }
}

@keyframes forumThreadVoteAnimation 
{
    0% {
        background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

/*
    CSS styling for the about page
*/
#aboutPageTitle 
{
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
    font-size: 3em;
}

.aboutPagePanel 
{
    background-color: rgba(0, 50, 50, 0.5);
    border-bottom: solid thin;
    border-bottom-color: rgba(255,255,255,1);
    border-top: solid thin;
    border-top-color: rgba(255,255,255,1);

    padding-top: 30px;
}

.aboutPagePanel .gap 
{
    height: 20px;
}

.aboutPage .gap 
{
    height: 50px;
}

.aboutContent 
{
    color: rgba(206, 255, 251, 0.7);
    padding: 10px 25px 15px 25px; 

    word-spacing: 0.5em;
    line-height: 25px;
    font-size: 1.15em;
}

.aboutTitle 
{
    font-size: xx-large;
    color: rgba(206, 255, 251, 0.95);

    padding-left: 5%;
    padding-top: 15px;
}

/*
    CSS styling for download page
*/
#downloadPageTitle 
{
    font-size: 3em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/*CSS styling for profile page*/
#profilePageTitle 
{
    padding-top: 50px;
    font-size: 2.8em;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.7);
}

.profilePageAttributesPanel 
{
    margin-top: 30px;
}

.profilePageAttributes 
{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
}

.profilePageAttributeLabels 
{
    font-size: 1.2em;
    color: rgba(206, 255, 251, 1);
}